/*Navbar*/
.navbar{
  font-size: 22px;
  width: 100%;
  color:rgb(158, 6, 92);
  background-color:rgba(9, 9, 9, 0.08);
  padding-top: 30px;
  padding-bottom: 20px;
}
/*Top Photo*/
.phot{
  margin-top: -8px !important;
  width: 100% !important;
  height: 100%;
}
.button {
    background-color:RGBA(26, 30, 26, 0.13);
    border: 3px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
    margin-left: 45%;
}
/*Web development First Div*/
.web{
	width: 100%;

}
.lead{
  font-size: 17px !important;
}
.contain{
	padding-top: 60px;
	padding-bottom: 40px;
}
/*Branding Second Div*/
.branding{
	width: 100%;
	background-color: rgba(230, 239, 240, 0.56);
}

/*Course Third Div*/
.course{
	width: 100%;
	height: 840px;
  background-image: url("back.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/*Client Fourth Div*/
.client{
	width: 100%;
	height: 840px;
  background-color: rgba(230, 239, 240, 0.56);
}
#talkbubble {
    width: 145%;
    height: 185px;
    background: white;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    margin-left: 120%;
    margin-top: -200px;
}
#talkbubble:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 62px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid white;
  border-bottom: 13px solid transparent;
}
.block{
  font-size: 15.5px !important;
  padding: 45px 35px !important;
  margin: 2px 0 20px !important;
  border-left: none !important
}
#talk{
    width: 42%;
    height: 185px;
    background: white;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    margin-left: -3%;
    margin-top: 56px;
}
#talk:before {
  content:"";
  position: absolute;
  left: 100%;
  top: 62px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-left: 26px solid white;
  border-bottom: 13px solid transparent;
}
.basil{
  margin-top: -210px;
  margin-right: 170px;
}
.blck{
  font-size: 15.5px !important;
  padding: 60px 35px !important;
  margin: 2px 0 20px !important;
  border-left: none !important
}
/*Team Fifth Div*/
.team{
	width:100%;
	height:840px;
	background-color: black;
}
.photo{
  margin-top: 50px;
  height: 100%;
  width: 100% !important;
  border: 10px solid white;
  border-radius: 50%;
  transition: transform .8s ease-in-out;
}
.photo:hover{

  transform: rotate(360deg);
}
.social{
  font-size: 30px !important;
  margin-left: 63px;
  margin-top:20px;
}

/*Footer*/
.foot{
  width: 100%;
  background-color:#6097c0;
  color: white;
}
.con{
  padding: 15px;
  margin-left: -50px !important;
}
.frm{
  margin-top: 43px;
}
.line{
  margin-top: 165px;
}
