#firstdiv{
	width: 100%;
	height: 768px;
	background-color: red;
	
}

ul{
	overflow: hidden;
	background-color: black;
	margin:0;
	padding: 0;
	list-style-type: none;

}

li {
	float: left;
}

li a{
	
	display: block;
	color: white;
	padding: 5px;
	text-decoration: none;
}
li a:hover{
	background-color: white;
	color:black;
}
#seconddiv{
	width: 100%;
	height: 768px;
	background-color: yellow;	
	
}
#thirddiv{
	width: 100%;
	height: 768px;
	background-color: green;
	
}
#fourthdiv{
	width: 100%;
	height: 768px;
	background-color: blue;
	
}
#fifthdiv{
	width: 100%;
	height: 768px;
	background-color: pink;
	
}