
#firstdiv{
	width: 100%;
	height: 768px;
	background-color: red;
	margin-top: -20px;
}
#seconddiv{
	width: 100%;
	height: 768px;
	background-color: yellow;	
	margin-top: -20px;
}	
#thirddiv{
	width: 100%;
	height: 768px;
	background-color: green;
	margin-top: -20px;
}
#fourthdiv{
	width: 100%;
	height: 768px;
	background-color: blue;
	margin-top: -20px;
}
#fifthdiv{
	width: 100%;
	height: 768px;
	background-color: pink;	
	margin-top: -20px;
}